@import url(./library/lib.css);
.grid-layout {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
}

.home-header {
  grid-area: header;
}

.home-nav {
  background-color: #f7eee9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-navlist {
  display: flex;
  padding: 1rem;
}

.home-navitem {
  margin: 1rem;
  list-style: none;
  font-size: 1.5rem;
}

.home-navitem > i {
  margin: 0.5rem;
}

.home-navitem > a {
  text-decoration: none;
  color: var(--text-dark-color);
}

.home-navitem > a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  font-weight: 500;
}

.home-navitem.home-navitem-active {
  border-bottom: 1px solid var(--primary-color);
}

.home-logo {
  height: 5rem;
  width: 5rem;
}

.home-hero {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heroLeft heroRight"
    "heroLeft heroRight";
}

.hero-image {
  min-height: 400px;
  /* max-width: 600px; */
}
.home-hero-right {
  grid-area: heroRight;
  padding: 2rem;

  justify-self: center;
  align-self: center;
}

.home-hero-left {
  grid-area: heroLeft;
}

.home-hero-right > h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

.home-hero-right > h3 {
  font-size: 1.5rem;
}

.home-hero-action {
  width: 100%;
  display: flex;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.home-main {
  grid-area: main;
}

.home-installations {
  background-color: #f7eee9;
  padding: 2rem;
}

.home-footer {
  text-align: center;
  padding: 3rem;
  background-color: #35302c;
  color: #ebeef7;
}

.home-footer > h3 a {
  text-decoration: none;
  color: white;
}

.home-footer {
  grid-area: footer;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 70%;
  }
  .grid-layout {
    grid-template-areas:
      "header header header"
      "main main main"
      "main main main"
      "footer footer footer";
  }

  .home-hero {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "heroRight heroRight"
      "heroRight heroRight";
  }

  .home-hero-left {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 35%;
  }
  .grid-layout {
    grid-template-areas:
      "header header header"
      "main main main"
      "main main main"
      "footer footer footer";
  }

  .home-hero {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "heroRight heroRight"
      "heroRight heroRight";
  }

  .home-hero-left {
    display: none;
  }
}
