.stars {
  height: 10rem;
  /* width: 20rem; */
  text-align: center;
}
.stars input {
  display: none;
}
.stars label {
  float: right;
  font-size: 4rem;
  color: #ffffff;
  margin: 0 0.5rem;
  text-shadow: 2px 2px 2px #fc8019;
}
.stars label:before {
  content: "★";
}
.stars input:checked ~ label {
  color: var(--primary-color);
  text-shadow: 1px 1px #fc7f198c;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
  color: var(--primary-color-light);
}
