.card {
  width: 20rem;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.card-square {
  height: 15rem;
  width: 15rem;
}

.card:hover {
  box-shadow: 3px 2px 5px #fc7f194b;
}

.card-dismisable {
  margin-left: auto;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
  padding: 0.5rem;
}

.card-dismisable:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
}

.card-badge {
  position: relative;
}

.card-badge-content,
.card-badge-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0.25rem;
  background-color: var(--primary-color);
}

.card-badge-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--white-color);
  font-size: 1.5rem;
}

.card-badge-content:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.card-badge-icon > i:hover {
  color: var(--danger-color);
}

.card-media {
  position: relative;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-img-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;

  /* transition: 0.1s ease; */
}

.overlay-hover {
  opacity: 0;
}

.overlay-hover:hover {
  opacity: 0.7;
  background-color: rgb(0, 0, 0);
  color: var(--white-color);
  font-weight: 900;
}

.overlay-always {
  background-color: rgb(0, 0, 0);
  color: var(--white-color);
  font-weight: 900;
  opacity: 0.7;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-text {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-evenly;
}

.card-subtitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.card-content {
  font-size: 1rem;
  font-weight: 300;
}

.card-action {
  display: flex;
  justify-content: space-evenly;
}

.card-action-column {
  display: flex;
  flex-direction: column;
}
.card-action > i {
  font-size: 2rem;
}

.card-action > i:hover {
  color: var(--primary-color);
}

.card-horizontal,
.card-horizontal-lg {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 25rem;
}

.card-horizontal-lg {
  justify-content: space-around;
  width: auto;
  align-items: center;
}

.card-horizontal-lg .card-media,
.card-horizontal .card-media {
  margin-right: 0.5rem;
  max-width: 10rem;
  max-height: 10rem;
  overflow: hidden;
}

.card-horizontal-lg .card-text {
  max-width: 15rem;
}

.card-action {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}

.card-action > i {
  margin: 0.5rem;
}

.card-action.card-action-stacked {
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .card.card-horizontal-lg {
    flex-direction: column;
  }
}
