/* Importing Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/* Reset CSS */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Style Guide*/

/* Color */
:root {
  --primary-color: #fc8019;
  --primary-color-light: #f79c52c5;
  --secondary-color: #fc7f197c;
  --text-light-color: #ebeef7;
  --text-dark-color: #0b0c13;
  --bg-light-color: #f7eee9;
  --bg-dark-color: #35302c;
  --light-color: #e6955454;
  --success-color: #00800080;
  --danger-color: #ff000080;
  --white-color: #ffff;
  --black-color: #0000;
}

/* Typography */
.lg-title {
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 900;
}

.md-title {
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 800;
}

.sm-title {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.lg-text {
  line-height: 4rem;
  font-size: 3rem;
  font-weight: 400;
}

.md-text {
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.sm-text {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.xs-text,
.regular-text {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.bold-text {
  font-weight: 700;
}

.cta-text {
  color: var(--primary-color);
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}

/* Layout */

.grid-col-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.grid-col-7by3 {
  grid-template-columns: 2fr 1fr;
}

.grid-col-3by7 {
  grid-template-columns: 1fr 2fr;
}

.grid-row-2 {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
}

.grid-col-3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-row-3 {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-col-3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-mid-lg {
  grid-template-columns: 1fr 2fr 1fr;
}

/* Imagery */

/* Media Query */

@media screen and (max-width: 600px) {
  :root {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 300px) {
  :root {
    font-size: 30%;
  }
}
/* Grid System */

/* Animations */
