img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-square {
  border-radius: 50%;
}

.image-sm {
  width: 5rem;
  height: 5rem;
}

.image-md {
  width: 10rem;
  height: 10rem;
}

.image-lg {
  width: 15rem;
  height: 15rem;
}

.image-xl {
  width: 20rem;
  height: 20rem;
}

.image:hover {
  border: 1px solid var(--primary-color);
  box-shadow: 1px 1px 1px var(--primary-color);
  opacity: 0.8;
}

.image-overlay-container {
  position: relative;
}

.image-overlay-text {
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  opacity: 0.7;
  background-color: rgb(0, 0, 0);
  color: white;
}

.overlay-hover {
  opacity: 0;
}

.overlay-hover:hover {
  opacity: 0.7;
  background-color: rgb(0, 0, 0);
  color: var(--white-color);
  font-weight: 900;
}
