@import url(../library/lib.css);

iframe {
  width: 100%;
}

.avatar-container,
.alert-container,
.badge-container,
.card-container,
.image-container,
.input-container {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-avatar,
.letter-avatar,
.status-avatar {
  margin: 1rem 0;
  display: flex;
  align-items: flex-end;
  /* justify-content: space-around; */
}

.filled-alert-section,
.outline-alert-section,
.dismisable-alert-section,
.badge-icon-section,
.badge-avatar-section,
.responsive-image-section {
  margin: 1rem 0;
}

.card-overall-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-box-section {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.section-right {
  width: 100%;
}
