@import url(../library/lib.css);

.avatar-container,
.alert-container,
.badge-container,
.card-container,
.image-container,
.input-container,
.button-container,
.typography-container,
.list-container,
.rating-container {
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-color);
  border-radius: 5px;
}

.nav-container,
.snackbar-container {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid var(--light-color);
  border-radius: 5px;
}

.snackbar-container {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.grid-container,
.basic-nav-section {
  padding: 2rem;
  margin: 2rem;
  border: 1px solid var(--light-color);
  border-radius: 5px;
}

.image-avatar,
.letter-avatar,
.status-avatar {
  border: 1px solid var(--light-color);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
}

.filled-alert-section,
.outline-alert-section,
.dismisable-alert-section,
.badge-icon-section,
.badge-avatar-section,
.responsive-image-section,
.typography-example-text,
.typography-example-heading,
.button-container-example,
.normal-list-section {
  border: 1px solid rgba(230, 149, 84, 0.329);
  padding: 1rem;
  margin: 1rem;
}

.cb-rb-ex {
  display: flex;
  padding: 1rem;
  margin: 1rem;
}

.cb-rb-ex > div {
  margin: 2rem;
}

.card-overall-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--primary-color-light);
}

/**/

.doc-page {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header header "
    "aside main "
    "aside main "
    "aside main ";
  grid-template-columns: 1fr 2fr;
}

.doc-header {
  grid-area: header;
}

.doc-aside {
  position: sticky;
  grid-area: aside;
}

.doc-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.doc-nav {
  background-color: #f7eee9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doc-navlist {
  display: flex;
  padding: 1rem;
}

.doc-navitem {
  margin: 1rem;
  list-style: none;
  font-size: 1.5rem;
}

.doc-navitem > i {
  margin: 0.5rem;
}

.doc-navitem > a {
  text-decoration: none;
  color: var(--text-dark-color);
}

.doc-navitem > a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  font-weight: 500;
}

.doc-navitem.doc-navitem-active {
  border-bottom: 1px solid var(--primary-color);
}

.doc-logo {
  height: 5rem;
  width: 5rem;
}

.doc-nav-menu {
  position: sticky;
  top: 0;
  margin: 1rem;
  padding: 1rem;
}

.doc-menu-floating {
  position: absolute;
  top: 5rem;
  height: 100%;
  width: 100%;

  display: none;
}

.doc-menu-floating > .list.list-vertical {
  margin: 0;
}

.navmenu-actionbtn {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.relative-menu {
  position: relative;
}

@media screen and (max-width: 600px) {
  .doc-page {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
  }
  .doc-aside {
    display: none;
  }

  .navmenu-actionbtn {
    display: block;
  }
}
